/* HTML Elements, ordered by appearance on the page */
body {
  font-family: Kreon, "Lucida Console", Monaco, Helvetica;
  font-size: 20px;
  margin: 2% auto;
  width: 80%;
  max-width: 900px;
  margin-bottom: 0px;
}

h1 {
  color: #333;
  text-shadow: 3px 3px white, 3px 3px 10px #a6a6a6;
  transition: .1s linear;
}

h2 {
  font-family: Dosis;
  font-size: 2em;
  border-bottom: 25px solid #ffd480;  
}

li a:hover {
  opacity: .8;
}

ul {
  list-style: square;
}

a:link {
    color: #990000; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #cca300;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #cca300;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #ff471a;
    background-color: transparent;
    text-decoration: underline;
}

footer {
  font-family: Dosis;
  font-size: 2rem;
  background-color: #7997A2;
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
  padding: 40px;
}

/* Classes in alphabetical order */
.black {
  text-decoration: none;
  color: black;
}

.heading {
  font-size: 4em; 
  background-color: #ffcccc; 
  padding: 50px; 
  margin: 0px
}

.nav {
  margin: 0 15px;
  list-style: none;
}

.nav-button {
  display: inline;
}

.nav-buttons {
  border: 5px solid ;
  padding: 15px;
  color: #333;
}

.profile-pic {
  float: right;
  border-radius: 50%;
  padding: 15px;
  max-width: 100%;
  width: 30%;
}

.project {
  border: 10px solid #ffb3b3;
  padding: 5px;
  margin: 4px 4px;
  float: left;
  width: 44%;
  height: 200px;
}

div.project {
  padding: 1%;
}

div.project:hover {
  background-color: #efefef;
}

div.project img {
  max-width: 150px;
  height: auto;
  margin: 10px;
  background-color: #ffb3b3;
  border-radius: 5%;
  border: none;
}

.pronunciation {
  opacity: 0;
  color: #E3A1A1;
  font-size: 2rem;
  font-style: ;
  text-shadow: none;
  font-style: italic;
  font-weight: 200;
  transition: .1s linear;
}

.social-icons {
  padding: 0px 35px;
}

.social-icons .social-icon {
  margin: 0px;
  float: left;
}

/* Font Awesome classes, alphabetic */

.fa {
    padding: 8px;
    width: 18px;
    text-align: center;
    border: none;
    margin: 5px 2px;
    border-radius: 50%;
    opacity: .8;
}

.fa-codepen {
  background: #4d4d4d;
  color: white;
  padding-right: 10px;
  padding-left: 8px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding-right: 9px;
    padding-left: 9px;
}

.fa-free-code-camp {
  background: #2eb82e;
  color: white;
  padding-right: 13px;
  padding-left: 5px;
}

.fa-github {
  background: #4d4d4d;
  color: white;
  padding-right: 9px;
  padding-left: 9px;
}

.fa-lastfm {
  background: #ff1a1a;
  color: white;
  padding-right: 10px;
  padding-left: 8px
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding-right: 9px;
  padding-left: 9px;
}


/* ID 's*/
#footer-link {
  color: white;
}


/* Media Queries (I use Bootstrap's breakpoints), but the default size is Extra Large (>991px) */
  /* change the sizing of the projects containers */
  /* change the display for the .pronunciation span in the h1*/

/* Large Devices – Desktop view */
@media (max-width: 991px) {
  div.project {
    padding-bottom: 10%;
  }

  .heading {
    font-size: 4rem;
  }
}

/* Medium Devices — Tablet view */
@media (max-width: 767px) {
  .project {
    width:96%;
  }

  h1 span {
    display: none;
  }
}

/* Small Devices – Mobile View */
@media (max-width: 575px) {
  div.project {
    padding-bottom: 25%;
  }

  .heading {
    font-size: 3.5rem;
  }
}

/* For sizes bigger than medium/tablet */
@media (min-width: 768px) {
  h1:hover {
    padding-left: 45px;
    padding-right: 55px;
    transition: .1s linear;
  }

  h1:hover span {
    opacity: 1;
  }
}
