/* HTML Elements, ordered by appearance on the page */
body {
  font-family: Kreon, "Lucida Console", Monaco, Helvetica;
  font-size: 20px;
  margin: 2% auto 0px auto;
  width: 80%;
  max-width: 900px;
  color: #333;
}

h1 {
  text-shadow: 3px 3px white, 3px 3px 15px #a6a6a6;
  transition: .2s ease-out;
  font-size: 4em; 
  background-color: #ffcccc; 
  padding: 50px; 
  margin: 0px;
}

h1:hover .pronunciation {
  opacity: 1;
  transition: .2s linear;
}

h2 {
  font-family: Dosis;
  font-size: 2em;
  border-bottom: 25px solid #ffd480;  
}

/* Standard link behavior */
a,
a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent; 
  text-decoration: none;
}

a:link {
    color: #990000; 
}

a:visited,
a:hover {
    color: #CCA049;
}

a:active {
    color: #ff471a;
}

ul {
  list-style: square;
}

/* Text in the projects (since it is all a link) */
a p, h4 {
  text-decoration: none;
  color: #333;
}

#nav-buttons,
#about,
#projects,
#contact {
  margin-top: 65px;
}

footer {
  font-family: Dosis;
  font-size: 2rem;
  color: white;
  background-color: #7997A2;
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 40px 10px;
  text-align: center;
}

footer:hover > .fa-arrow-up {
  opacity: 0;
  transform: translateY(-300%);
  transition: 2s ease-out, opacity .75s;
}

/* Classes in alphabetical order */
.fa5-icons {
  margin: 0px 45px;
}

.fa5-icons svg {
  opacity: .8;
  padding: 0px 0px;
}

.fa5-icons svg:hover {
  opacity: .6;
  cursor: pointer;
}

.fa5-icons > a {
  padding: 0px 1px;
  font-size: 2.25rem;
}

.nav {
  margin: 0px 15px;
  list-style: none;
}

.nav-button {
  display: inline;
}

.profile-pic {
  float: right;
  border-radius: 50%;
  padding: 15px;
  width: 30%;
}

/*nth child in order to get rid of redundant margin on all project containers */
.project {
  border: 10px solid #FFCCCC;
  padding: 7px;
  margin: 4px 1% 4px 0px;
  float: left;
  width: 49%;
  height: 270px;
  box-sizing: border-box;
}

.project p {
  font-style: italic;
}

/* why won't this select the project? */
/*#projects .project:nth-child(even){ 
  margin-right: 0%;
}*/

.project:hover {
  background-color: #efefef;
}

.project-img {
  padding: 1%;
  float: right;
  max-width: 150px;
  height: auto;
  margin: 7px 7px 0px 7px;
  background-color: #FFCCCC;
  border-radius: 5%;
}

.pronunciation {
  opacity: 0;
  color: #E3A1A1;
  font-size: 2rem;
  text-shadow: none;
  font-style: italic;
  font-weight: 200;
  transition: .1s linear;
}

/* Font Awesome classes, alphabetic */
.fa-codepen {
  color: #4d4d4d;
}

.fa-facebook-f {
    color: #3B5998;
}

.fa-free-code-camp {
  color: #2eb82e;
}

.fa5-icons .fa-github {
  color: #4d4d4d;
}

.fa-instagram {
  color: #DB3075;
}

.fa-lastfm {
  color: #ff1a1a;
}

.fa5-icons .fa-linkedin-in {
  color: #007bb5;
}

.fa-goodreads-g {
  color: #553b08;
}

/* ID 's, sorted alphabetically */
#about p {
  font-style: italic;
}

#github-more-div {
  color: #666;
  text-align: center;
  margin-top: 10px;
}

#github-more-div i {
  display: inline-block;  
}

#github-plus-icon {
  transform: translateY(-85%);
}

#nav-buttons {
  border: 5px solid #333;
  padding: 15px;
  margin: auto;
  font-family: Kreon;
  font-size: 1.45rem;
}

#projects {
  overflow: auto;
}

/* Media Queries (I use Bootstrap's breakpoints) */
  /* the default size is Extra Large (>991px) */

/* Large Devices – Desktop view */
@media (max-width: 991px) {
  h1 {
    font-size: 4.5rem;
  }

  .project {
    height: 340px;
  }

  #nav-buttons {
    font-size: 1.35rem;
  }
}

/* Medium Devices — Tablet view */
@media (max-width: 767px) {
  h1 span {
    display: none;
  }

  .project {
    height: 290px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .project-img {
    max-width: 180px;
    height: auto;
  }
}

/* Small Devices – Mobile View */
@media (max-width: 575px) {
  body {
    font-size: 18px;
    width: 90%;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  footer {
    font-size: 1.5rem;
  }

  .fa5-icons {
    margin: auto auto;
    text-align: center;
  }

  .project-img {
    max-width: 140px;
    height: auto;
  }

  #nav-buttons {
    font-size: 1.05rem;
    text-align: center;
  }
}

/* For sizes bigger than medium/tablet, 
   enable the pronunciation to show on
   enable nav-link underline animation */
@media (min-width: 768px) {
  h1:hover {
    padding-left: 45px;
    padding-right: 55px;
    transition: .1s linear;
  }

  /* Underline animation for the nav links*/
  #nav-buttons a {
    display: inline-block;
  }

  #nav-buttons a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #CCA049;
    transition: width .3s;
  }

  #nav-buttons a:hover::after {
    width: 100%;
    /*transition: width .3s;*/
  }
}